@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  min-width: 450px;
  margin: 0;
}

button,
input,
select,
option {
  color: #484848;
}

button,
select {
  cursor: pointer;
}

p {
  margin: 0.1rem;
}

/*  ----------- App ----------- */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn-add-card {
  border: none;
  border-radius: 50%;
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
  color: #0891b2;
  background-color: #eeeeee;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-add-card:hover {
  background-color: #dddddd;
  color: #077692;
}

/* ----------- WeatherCard ----------- */
.weather-card {
  flex: 1 1 calc(20% - 20px);
  min-width: 280px;
  max-width: 500px;
  padding: 25px;
  padding-top: 30px;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #0885b2, #1d4ed8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.btn-remove-card {
  position: absolute;
  top: 5px;
  right: 8px;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
  font-weight: 150;
  transition: color 0.2s ease-in;
}

.btn-remove-card:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* ----------- Inputs ----------- */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container input[type="text"] {
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-right: 20px;
  width: 60%;
  text-transform: capitalize;
}

.search-icon {
  margin-right: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.search-icon:hover {
  transform: scale(1.25);
}

.input-container select {
  border-radius: 3px;
  appearance: none;
  border: none;
  font-size: 0.8rem;
  padding: 5px 2px;
  height: 2.1rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 15px;
}

/* ----------- CurrentWeather ----------- */
.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

.current-date {
  font-weight: 300;
}

.current-time {
  font-weight: 300;
  font-size: 1.2rem;
}

.current-weather-temp {
  font-size: 2.5rem;
}

.current-weather-description {
  font-size: 1.25rem;
  color: rgba(201, 249, 255, 0.8);
  font-style: italic;
  font-weight: 250;
}

.current-weather-details {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  text-align: center;
  margin-top: 20px;
}

.current-weather-details p {
  margin-bottom: 0.5rem;
}

.current-weather-details-title {
  font-weight: 300;
}

.current-weather-details-data {
  font-size: 1.2rem;
}

/* ----------- Forecast ----------- */
h2 {
  font-size: 1.5rem;
}

.forecast-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-icon-and-temp {
  display: flex;
}

.forecast-icon {
  width: 65px;
  margin-right: 15px;
}

.forecast-temp {
  font-size: 1.1rem;
}

.forecast-description {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 200;
  color: rgba(201, 249, 255, 0.8);
}

.forecast-date {
  font-weight: 300;
}
